// config
@import "./styles/variables";

body{
    margin:0;
}

.App{
  min-height: 100vh;
  display: flex; 
  main{
      flex:1;
      padding: 0 20px;
      &>h1{
          color: $primary;
          border-bottom: 1px solid #ddd;
      }
  }
}

nav{
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    position: sticky;
    flex-direction: column;
    background-color: #f9f9f9;
    box-shadow: inset 0 0 10px #ddd;
    .nav-link{
        cursor: pointer;
        padding: 10px 20px;
        border-bottom: 1px solid #eee;
        &.link-active{
            color: #fff;
            background-color: lighten($primary, 3%);
        }
        &:hover{
            opacity: .89;
        }
    }
}

.cv-exapmle{
    display: flex;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    padding-bottom: 20px;
    margin-bottom: 20px;
    box-shadow: inset 0 0 5px #eee;
}